body {
    margin: 0;
    padding: 0;
    font-family: Arial ;
     background-image: url("https://github.com/maimuna-omar/personal-portfolio/blob/main/images/383902.jpeg"); 
     background-size:cover;
     background-position:center;
    }
 /* Navbar section */
 nav {
     background-color: rgba(51, 0, 51, 0.7);
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px 90px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     box-sizing: border-box;
     border-bottom: 1px solid #0e0e0e;
     box-shadow: black;
   }
   
   nav h1 {
     margin: 0;
     font-style: italic;
     font-family: cursive;
     font-weight: bolder;
     color: hsl(0, 17%, 94%);
   }
   
   
   nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
   }
   
   nav li {
     margin: 0 10px;
     position: relative;
   }
   
   nav a {
     color: #fff;
     text-decoration: none;
     display: block;
     padding: 10px;
   }
   
   nav a:hover {
     background-color: #777676;
   }
 /* Navbar section */
 
 