@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px 200px;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://wallpaperaccess.com/full/383902.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: #f8f2f8;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 2.8em;
  font-weight: 600;
}

.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated-text h3 {
  color: #e6eaef;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: -70px;
  }

  50% {
    margin-top: -140px;
  }

  75% {
    margin-top: -70px;
  }

  100% {
    margin-top: 0;
  }
}

.btn {
  color: #fff;
  background: #3e3e3f;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-top: 30px;
  transition: 0.5s ease;
}

.btn:hover {
  background: #235bf6;
}

.media-icons {
  margin-top: 50px;
}

.media-icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
}

header {
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky {
  background: #3a6cf4;
  padding: 10px 200px;
}

header .container {
  /* background-color: black; */
  display: flex;


}

header .brand {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  /* background-color: black; */
}

header .navigation {
  position: relative;
  /* background-color: black; */
}

header .navigation a {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a:hover {
  color: #3a6cf4;
}

header.sticky .navigation a:hover {
  color: #000;
}

body {
  min-height: 110vh;


}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title:before {
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #3a6cf4;
  transform: translateX(-50%);
}

.section-title:after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3a6cf4;
  transform: translateX(-50%);
}

#about,
#skills,
#services,
#contact {

  width: 100%;
  min-height: 100vh;

  background: url(https://img.freepik.com/free-photo/aesthetic-purple-smoke-banner-background_53876-129044.jpg?w=2000)no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin-top: 20px;

}

.skills .content .col-left {
  position: relative;
  width: 46%;

}

.skills .content .col-right {
  position: relative;
  width: 46%;

}

.skills .content .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}

.skills .content .col-right .bar .info {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

}

.skills .content .col-right .bar .info span {
  font-size: 15px;
  font-weight: 500;
}

.skills .content .col-right .bar .line {
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 2px;
  background: #a94de7;
}

/* .skills .content .col-right .bar .landscape:before {
  width: 100%;
  background: #6909a9;
}

.skills .content .col-right .bar .cloudscape:before {
  width: 80%;
  background: #6909a9;
}

.skills .content .col-right .bar .panorama:before {
  width: 100%;
  background: #6909a9;
}

.skills .content .col-right .bar .sunrise-sunset:before {
  width: 80%;
  background: #6909a9;
}

.skills .content .col-right .bar .night:before {
  width: 60%;
  background: #6909a9;
} */

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;

}

.title p {
  font-size: 1em;
  width: 80%;
}

.services .content .card {
  background: #fff;
  width: 340px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
}

.services .content .card .service-icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
  transition: transform 0.5s ease;
}

.services .content .card:hover .service-icon {
  transform: translateY(-10px);
}

.services .content .card .info {
  text-align: center;
}

.services .content .card .info h3 {
  color: #6909a9;
  font-size: 1.2em;
  margin: 10px;
  font-weight: 700;
}

.contact .content {
  display: flex;
  /* justify-content: center; */
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

}

.contact .content .row .card {
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background: #fff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-content: center;


}

.contact .content .row .card .contact-icon {
  color: #3a6cf4;
  font-size: 4em;
  text-align: center;
}

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}

.contact .content .row .card .info h3 {
  color: #6909a9;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;

}

.contact .content .row .card .info span {
  color: #666;
  font-weight: 500;
}

.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);


}

.contact-form h3 {
  color: #6909a9;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #6909a9;
  width: 100%;
  font-size: 1em;
  padding: 10px;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;

}

.contact-form .input-box .send-btn {
  color: #fff;
  background: #6909a9;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;

}

.contact-form .input-box .send-btn:hover {
  background: #235bf6;
}

.footer {
  color: #6909a9;
  text-align: center;
  padding: 2em;
  background: url(https://img.freepik.com/free-photo/aesthetic-purple-smoke-banner-background_53876-129044.jpg?w=2000)no-repeat;

}

.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer .p {
  font-size: 16px;
  margin-top: 10px;
}

.footer p a {
  font-weight: 600;
  text-decoration: none;
  color: #050506;
}